<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script type="text/javascript">$("#tel_celular").mask("(00) 00000-0000");</script>
    <script type="text/javascript">$("#tel_fixo").mask("(00) 0000-0000");</script>
    <script type="text/javascript">$("#cpf").mask("000.000.000-00");</script>
    <script type="text/javascript">$("#cep").mask("00000-000");</script>
    <script>
      // Script responsável por remover as notificações ao clicar no "x"
      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;

          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
      });
    </script>
    <script>
      // https://viacep.com.br/exemplo/javascript/
      function limpaFormularioCep() {
        document.getElementById('logradouro').value=('');
        document.getElementById('numero').value=('');
        document.getElementById('complemento').value=('');
        document.getElementById('bairro').value=('');
        document.getElementById('cidade').value=('');
        document.getElementById('estado').value=('');
      }

      function meuCallback(conteudo) {
        if (!('erro' in conteudo)) {
          document.getElementById('logradouro').value=(conteudo.logradouro);
          document.getElementById('bairro').value=(conteudo.bairro);
          document.getElementById('cidade').value=(conteudo.localidade);
          document.getElementById('estado').value=(conteudo.uf);
        } else {
          limpaFormularioCep();
          alert('CEP não encontrado.');
        }
      }

      function pesquisaCep(valor) {
        var cep = valor.replace(/\D/g, '');

        if (cep != '') {
          var validacep = /^[0-9]{5}-[0-9]{3}$/;

          if(validacep.test(cep)) {
            cepFormat = cep.replace('-', '')
            var script = document.createElement('script');

            script.src = 'https://viacep.com.br/ws/' + cepFormat + '/json/?callback=meuCallback';

            document.body.appendChild(script);
          } else {
            limpaFormularioCep();
            alert('Formato de CEP inválido.');
          }
        } else {
          limpaFormularioCep();
        }
      };
    </script>
    <title>{{ title }}</title>
    {{ style('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}
    {{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css') }}
    {{ style('login') }}
    {{ style('style') }}
    {{ style('listagem') }}
    {{ style('cadastros') }}
</head>
<body>
    <section class="section">

        @if(!login)
            <div class="logotp logotipo"></div>
            <nav class="navbar" role="navigation" aria-label="main navigation">

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/eventos" class="navbar-item">Eventos</a>
                        <a href="/clientes" class="navbar-item">Clientes</a>
                        <a href="/usuarios" class="navbar-item">Usuários</a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                        <div class="buttons">
                            <a href="/logout" class="button is-danger">
                                <strong>Logout</strong>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </nav>
        @endif

        @!section('body')

    </section>
</body>
</html>
