<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    @if(!user)
        <form action="/login" method="POST">
            {{csrfField()}}
            <label for="email">Email:</label>
            <input type="text" name="usuario" id="usuario">

            <br />
            <br />

            <label for="senha">Senha:</label>
            <input type="text" name="senha" id="senha">

            <br />
            <br />
            
            <button type="submit">
                <span>Login</span>
            </button>
            <button type="reset">
                <span>Limpar</span>
            </button>
        </form>
    @else
        <form action="/logout" method="POST">
            {{csrfField()}}
            <button type="submit">
                <span>Logout</span>
            </button>
        </form>  
    @endif
</body>
</html>