/* Este arquivo é responsável pelo layout geral de todas as telas do sistema */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
  margin-top: 10px;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.logotp {
  background: url("/logo.png") no-repeat;
  background-size: 100%;
}

.logotipo {
  width: 156px;
  height: 153px;
  margin-top: -30px;
  margin-bottom: -65px;
}

.logotipo-gd {
  width: 256px;
  height: 253px;
  margin: auto;
}
