@layout('./layouts/error')

@section('body')
    @set('title', '401')

    <div class="container">
      <div class="line">
        <h1 class="title text-center">Erro 401 - Usuário não autorizado</h1>
      </div>

      <br>

      <div class="buttons">
        <a href="/" class="button is-warning">
          <strong>Realizar login</strong>
        </a>
      </div>
    </div>

@endsection
