@layout('./layouts/error')

@section('body')
    @set('title', '401')

    <div class="container">
      <div class="error">
        <div class="logotp logotipo-gd"></div>
        <h1 class="title text-center">Erro 401 - Usuário não autorizado</h1>

        <br>

        <div class="buttons">
          <a href="/" class="button is-warning">
            <strong>Realizar login</strong>
          </a>
        </div>
      </div>
    </div>

@endsection
